@model ASP1.Models.Product

<h1>Product Details</h1>

<div>
    <h3>@Model.Name</h3>
    <p><strong>Description:</strong> @Model.Description</p>
    <p><strong>Price:</strong> @Model.Price SAR</p>
</div>

<a href="/Products">Back to List</a>
